.subtitle {
    color: #fefefe;
    font-size: 3rem;
    margin: 0;
    animation: fade-in 4s;
}

@media screen and (max-width: 600px) {
    .subtitle {
        font-size: 30px;
    }
}

/* @keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */
