html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    top: 0;
    /* min-height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    background-color: #65677c;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
